
<div class="month mb-8">
  <h2 class="text-2xl font-bold mt-6">May 2025</h2>
  
  <div class="event flex items-top text-center w-full mb-8">
    <div class="flex flex-col items-center w-16 flex-shrink-0 self-start rounded-lg border border-gray-200 overflow-hidden">
      <div class="w-full text-white bg-red-500 font-bold text-sm py-0.5">MAY</div>
      <div class="w-full bg-white text-black text-xl py-1">22</div>
    </div>
    <div class="ml-4 text-start">
      <div class="text-lg font-semibold">External event</div>
      <div class="text-sm text-gray-600">I Am Martin Parr - a screening of the documentary film organised by Agitate.  Ticket details to follow.</div>
      <div class="text-sm text-gray-500 mt-2">
        📌 In-Person only
      </div>
    </div>
  </div>
  
</div>

<div class="month mb-8">
  <h2 class="text-2xl font-bold mt-6">June 2025</h2>
  
  <div class="event flex items-top text-center w-full mb-8">
    <div class="flex flex-col items-center w-16 flex-shrink-0 self-start rounded-lg border border-gray-200 overflow-hidden">
      <div class="w-full text-white bg-red-500 font-bold text-sm py-0.5">JUN</div>
      <div class="w-full bg-white text-black text-xl py-1">1</div>
    </div>
    <div class="ml-4 text-start">
      <div class="text-lg font-semibold">External event</div>
      <div class="text-sm text-gray-600">RPS Photoforum</div>
      <div class="text-sm text-gray-500 mt-2">
        📌 External event
      </div>
    </div>
  </div>
  
  <div class="event flex items-top text-center w-full mb-8">
    <div class="flex flex-col items-center w-16 flex-shrink-0 self-start rounded-lg border border-gray-200 overflow-hidden">
      <div class="w-full text-white bg-red-500 font-bold text-sm py-0.5">JUN</div>
      <div class="w-full bg-white text-black text-xl py-1">10</div>
    </div>
    <div class="ml-4 text-start">
      <div class="text-lg font-semibold">Darkroom</div>
      <div class="text-sm text-gray-600">&quot;Darkroom drop-in. Tuesdays 19:30-20:30. Open to all EPS members </div>
      <div class="text-sm text-gray-500 mt-2">
        📌  darkroom inductions for new EPS darkroom members or tours for the merely curious . Help with darkroom technique
      </div>
    </div>
  </div>
  
  <div class="event flex items-top text-center w-full mb-8">
    <div class="flex flex-col items-center w-16 flex-shrink-0 self-start rounded-lg border border-gray-200 overflow-hidden">
      <div class="w-full text-white bg-red-500 font-bold text-sm py-0.5">JUN</div>
      <div class="w-full bg-white text-black text-xl py-1">13</div>
    </div>
    <div class="ml-4 text-start">
      <div class="text-lg font-semibold">International</div>
      <div class="text-sm text-gray-600">Judging - 161st Edinburgh International Exhibition of Photography</div>
      <div class="text-sm text-gray-500 mt-2">
        📌 In-person  only
      </div>
    </div>
  </div>
  
  <div class="event flex items-top text-center w-full mb-8">
    <div class="flex flex-col items-center w-16 flex-shrink-0 self-start rounded-lg border border-gray-200 overflow-hidden">
      <div class="w-full text-white bg-red-500 font-bold text-sm py-0.5">JUN</div>
      <div class="w-full bg-white text-black text-xl py-1">14</div>
    </div>
    <div class="ml-4 text-start">
      <div class="text-lg font-semibold">International</div>
      <div class="text-sm text-gray-600">Judging - 161st Edinburgh International Exhibition of Photography</div>
      <div class="text-sm text-gray-500 mt-2">
        📌 In-person  only
      </div>
    </div>
  </div>
  
  <div class="event flex items-top text-center w-full mb-8">
    <div class="flex flex-col items-center w-16 flex-shrink-0 self-start rounded-lg border border-gray-200 overflow-hidden">
      <div class="w-full text-white bg-red-500 font-bold text-sm py-0.5">JUN</div>
      <div class="w-full bg-white text-black text-xl py-1">15</div>
    </div>
    <div class="ml-4 text-start">
      <div class="text-lg font-semibold">International</div>
      <div class="text-sm text-gray-600">Judging - 161st Edinburgh International Exhibition of Photography</div>
      <div class="text-sm text-gray-500 mt-2">
        📌 In-person  only
      </div>
    </div>
  </div>
  
  <div class="event flex items-top text-center w-full mb-8">
    <div class="flex flex-col items-center w-16 flex-shrink-0 self-start rounded-lg border border-gray-200 overflow-hidden">
      <div class="w-full text-white bg-red-500 font-bold text-sm py-0.5">JUN</div>
      <div class="w-full bg-white text-black text-xl py-1">24</div>
    </div>
    <div class="ml-4 text-start">
      <div class="text-lg font-semibold">Council Meeting.  </div>
      <div class="text-sm text-gray-600">Please alert any topics you wish brought to the attention of Council by email to secretary@edinburghphotographicsociety.co.uk</div>
      <div class="text-sm text-gray-500 mt-2">
        
      </div>
    </div>
  </div>
  
</div>

<div class="month mb-8">
  <h2 class="text-2xl font-bold mt-6">July 2025</h2>
  
  <div class="event flex items-top text-center w-full mb-8">
    <div class="flex flex-col items-center w-16 flex-shrink-0 self-start rounded-lg border border-gray-200 overflow-hidden">
      <div class="w-full text-white bg-red-500 font-bold text-sm py-0.5">JUL</div>
      <div class="w-full bg-white text-black text-xl py-1">12</div>
    </div>
    <div class="ml-4 text-start">
      <div class="text-lg font-semibold">Summer</div>
      <div class="text-sm text-gray-600">Street photowalk start time and place TBA</div>
      <div class="text-sm text-gray-500 mt-2">
        📌 In-person only
      </div>
    </div>
  </div>
  
  <div class="event flex items-top text-center w-full mb-8">
    <div class="flex flex-col items-center w-16 flex-shrink-0 self-start rounded-lg border border-gray-200 overflow-hidden">
      <div class="w-full text-white bg-red-500 font-bold text-sm py-0.5">JUL</div>
      <div class="w-full bg-white text-black text-xl py-1">15</div>
    </div>
    <div class="ml-4 text-start">
      <div class="text-lg font-semibold">Darkroom</div>
      <div class="text-sm text-gray-600">&quot;Darkroom drop-in. Tuesdays 19:30-20:30. Open to all EPS members </div>
      <div class="text-sm text-gray-500 mt-2">
        📌  darkroom inductions for new EPS darkroom members or tours for the merely curious . Help with darkroom technique
      </div>
    </div>
  </div>
  
  <div class="event flex items-top text-center w-full mb-8">
    <div class="flex flex-col items-center w-16 flex-shrink-0 self-start rounded-lg border border-gray-200 overflow-hidden">
      <div class="w-full text-white bg-red-500 font-bold text-sm py-0.5">JUL</div>
      <div class="w-full bg-white text-black text-xl py-1">29</div>
    </div>
    <div class="ml-4 text-start">
      <div class="text-lg font-semibold">Exhibition</div>
      <div class="text-sm text-gray-600">HUK exhibition set up</div>
      <div class="text-sm text-gray-500 mt-2">
        📌 SC Room
      </div>
    </div>
  </div>
  
  <div class="event flex items-top text-center w-full mb-8">
    <div class="flex flex-col items-center w-16 flex-shrink-0 self-start rounded-lg border border-gray-200 overflow-hidden">
      <div class="w-full text-white bg-red-500 font-bold text-sm py-0.5">JUL</div>
      <div class="w-full bg-white text-black text-xl py-1">30</div>
    </div>
    <div class="ml-4 text-start">
      <div class="text-lg font-semibold">Exhibition</div>
      <div class="text-sm text-gray-600">HUK exhibition set up</div>
      <div class="text-sm text-gray-500 mt-2">
        📌 SC Room
      </div>
    </div>
  </div>
  
  <div class="event flex items-top text-center w-full mb-8">
    <div class="flex flex-col items-center w-16 flex-shrink-0 self-start rounded-lg border border-gray-200 overflow-hidden">
      <div class="w-full text-white bg-red-500 font-bold text-sm py-0.5">JUL</div>
      <div class="w-full bg-white text-black text-xl py-1">31</div>
    </div>
    <div class="ml-4 text-start">
      <div class="text-lg font-semibold">Exhibition</div>
      <div class="text-sm text-gray-600">HUK exhibition set up</div>
      <div class="text-sm text-gray-500 mt-2">
        📌 SC Room
      </div>
    </div>
  </div>
  
</div>

<div class="month mb-8">
  <h2 class="text-2xl font-bold mt-6">August 2025</h2>
  
  <div class="event flex items-top text-center w-full mb-8">
    <div class="flex flex-col items-center w-16 flex-shrink-0 self-start rounded-lg border border-gray-200 overflow-hidden">
      <div class="w-full text-white bg-red-500 font-bold text-sm py-0.5">AUG</div>
      <div class="w-full bg-white text-black text-xl py-1">1</div>
    </div>
    <div class="ml-4 text-start">
      <div class="text-lg font-semibold">Exhibition</div>
      <div class="text-sm text-gray-600">Haemochromatosis UK Exhibition opening.  The exhibtion runs until 24 August 2025</div>
      <div class="text-sm text-gray-500 mt-2">
        📌 Private event
      </div>
    </div>
  </div>
  
  <div class="event flex items-top text-center w-full mb-8">
    <div class="flex flex-col items-center w-16 flex-shrink-0 self-start rounded-lg border border-gray-200 overflow-hidden">
      <div class="w-full text-white bg-red-500 font-bold text-sm py-0.5">AUG</div>
      <div class="w-full bg-white text-black text-xl py-1">1</div>
    </div>
    <div class="ml-4 text-start">
      <div class="text-lg font-semibold">Main Society</div>
      <div class="text-sm text-gray-600">Starting at 6 pm Cahal McNaughton - multi award winning photojournalist and author of the Haemochromatosis UK exhibition - meets EPS members for a Q&amp;A style event</div>
      <div class="text-sm text-gray-500 mt-2">
        📌 In-person only
      </div>
    </div>
  </div>
  
  <div class="event flex items-top text-center w-full mb-8">
    <div class="flex flex-col items-center w-16 flex-shrink-0 self-start rounded-lg border border-gray-200 overflow-hidden">
      <div class="w-full text-white bg-red-500 font-bold text-sm py-0.5">AUG</div>
      <div class="w-full bg-white text-black text-xl py-1">2</div>
    </div>
    <div class="ml-4 text-start">
      <div class="text-lg font-semibold">161st Edinburgh International Exhibition of Photography</div>
      <div class="text-sm text-gray-600">Private opening and awards presentation</div>
      <div class="text-sm text-gray-500 mt-2">
        📌 In-person  only
      </div>
    </div>
  </div>
  
  <div class="event flex items-top text-center w-full mb-8">
    <div class="flex flex-col items-center w-16 flex-shrink-0 self-start rounded-lg border border-gray-200 overflow-hidden">
      <div class="w-full text-white bg-red-500 font-bold text-sm py-0.5">AUG</div>
      <div class="w-full bg-white text-black text-xl py-1">25</div>
    </div>
    <div class="ml-4 text-start">
      <div class="text-lg font-semibold">Exhibition</div>
      <div class="text-sm text-gray-600">HUK exhibition take down</div>
      <div class="text-sm text-gray-500 mt-2">
        📌 SC Room
      </div>
    </div>
  </div>
  
</div>

<div class="month mb-8">
  <h2 class="text-2xl font-bold mt-6">September 2025</h2>
  
  <div class="event flex items-top text-center w-full mb-8">
    <div class="flex flex-col items-center w-16 flex-shrink-0 self-start rounded-lg border border-gray-200 overflow-hidden">
      <div class="w-full text-white bg-red-500 font-bold text-sm py-0.5">SEP</div>
      <div class="w-full bg-white text-black text-xl py-1">20</div>
    </div>
    <div class="ml-4 text-start">
      <div class="text-lg font-semibold">Private Event</div>
      <div class="text-sm text-gray-600">Bank Note Society of Scotland (BNSS)</div>
      <div class="text-sm text-gray-500 mt-2">
        📌 Private event
      </div>
    </div>
  </div>
  
</div>

<div class="month mb-8">
  <h2 class="text-2xl font-bold mt-6">November 2025</h2>
  
  <div class="event flex items-top text-center w-full mb-8">
    <div class="flex flex-col items-center w-16 flex-shrink-0 self-start rounded-lg border border-gray-200 overflow-hidden">
      <div class="w-full text-white bg-red-500 font-bold text-sm py-0.5">NOV</div>
      <div class="w-full bg-white text-black text-xl py-1">29</div>
    </div>
    <div class="ml-4 text-start">
      <div class="text-lg font-semibold">Private Event</div>
      <div class="text-sm text-gray-600">Bank Note Society of Scotland (BNSS)</div>
      <div class="text-sm text-gray-500 mt-2">
        📌 Private event
      </div>
    </div>
  </div>
  
</div>

