<header class="site-header">
<div class="container mx-auto px-4 py-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
    <a href="/" class="logo mb-4 md:mb-0">
        <img src="/assets/images/custom-logo.jpg" alt="Edinburgh Photographic Society" class="h-16">
    </a>
    <nav class="site-nav">
        <ul class="flex flex-wrap justify-center space-x-2 md:space-x-6">
        <li><a href="/" class="px-2 py-1">Home</a></li>
        <li><a href="/about-eps-v2/" class="px-2 py-1">About</a></li>
        <li><a href="/whats-on-v2/" class="px-2 py-1">What's On</a></li>
        <li><a href="/exhibitions-v2/" class="px-2 py-1">Exhibitions</a></li>
        <li><a href="/membership-v2/" class="px-2 py-1">Membership</a></li>
        <li><a href="/contact-v2/" class="px-2 py-1">Contact</a></li>
        </ul>
    </nav>
    </div>
</div>
</header>